* {
    margin: 0;
    padding: 0;
  }
  
  .pnl-iz {
    margin-left: 15px;
  }
  
  .bar {
    list-style-type: none;
    margin-top: 10px;
    font-size: 1.2em;
  }
  
  .bar li {
    padding: 5px;
  }
  
  .bar li a {
    text-decoration: none;
    color: #024969;
  }
  
  .bar li:hover {
    border-left: solid 5px #024969;
  }