*{
    margin: 0;
    padding: 0;
  }
  
  .publicidad {
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: #024969;
    color: white;
    width: 100%;
  }
  